@page "/"

@using ServiceBus.Model
@inject ServiceBusMessagingDemo.Services.IQueueService queue

<EditForm Model="@user" OnValidSubmit="@PublishMessage">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="FirstName">First name</label>
        <InputText class="form-control" id="FirstName" DisplayName="FirstName" @bind-Value="user.FirstName" />
    </div>
    <div class="form-group">
        <label for="LastName">Last name</label>
        <InputText class="form-control" id="FirstName" DisplayName="FirstName" @bind-Value="user.LastName" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
</EditForm>

@code {
    private User user = new User();

    private async Task PublishMessage()
    {
        await queue.SendMessageAsync(user, Common.QueueName);
        user = new User();
    }
}
